################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AuthTemplate/FileContentIndex/7d760ec0-3086-441b-9529-f26bd2700ea2.vsidx
